<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" href="index.css">
</head>
<style>
    
</style>
<body>
<div class="landing-page-design">
  <div class="rectangle-4"></div>
  <div class="frame-19">
    <div class="farming-recommendations">Farming Recommendations</div>
    <div class="navigation">
        <button class="home-btn"><a href="index.html">Home</a></button>
        <button class="About">About</button>
        <button class="login-btn"> <a href="login.html">Login</a></button>
        <button class="signup-btn"> <a href="signup.html">signup</a></button>
      </div>
      
  </div>
  <div class="frame-21">
    <button class="about">about</button>
  </div>
  <div class="frame-11">
    <div class="ellipse-5"></div>
    <div class="ellipse-7"></div>
    <div class="ellipse-6"></div>
    <div class="ellipse-8"></div>
  </div>
  <div class="rectangle-15"></div>
  <div class="div">&lt;</div>
  <div class="div2">&gt;</div>
  <div class="frame-25">
    <div class="group-55">
      <div class="about-farming-recommendations">
        About Farming Recommendations
      </div>
      <div class="farming-recommendations-australia-proudly-focuses-on-building-a-rich-future-for-australian-agriculture-we-live-and-work-in-the-regions-and-represent-the-interests-and-aspirations-of-primary-producers-and-rural-communities-delivering-real-value-in-everything-we-do">
        Farming Recommendations Australia proudly focuses on building a rich
        future for Australian agriculture. We live and work in the regions and
        represent the interests and aspirations of primary producers and rural
        communities, delivering real value in everything we do.
      </div>
    </div>
    <div class="group-56">
      <div class="location-steet-1234">Location, steet, 1234</div>
      <div class="email-gmail-com">Email@gmail.com</div>
      <div class="_7622-2728992727">+7622-2728992727</div>
      <div class="contacts">Contacts</div>
      <img class="envelope" src="envelope0.png" alt="envelope" />
      <img class="hand-with-smartphone" src="hand-with-smartphone0.png" alt="hand with smartphone" />
      <img class="internet" src="internet0.png" alt="internet" />
      <svg class="map-pin" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_0_33)">
          <path d="M17.5 8.33334C17.5 14.1667 10 19.1667 10 19.1667C10 19.1667 2.5 14.1667 2.5 8.33334C2.5 6.34422 3.29018 4.43657 4.6967 3.03004C6.10322 1.62352 8.01088 0.833344 10 0.833344C11.9891 0.833344 13.8968 1.62352 15.3033 3.03004C16.7098 4.43657 17.5 6.34422 17.5 8.33334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 10.8333C11.3807 10.8333 12.5 9.71404 12.5 8.33333C12.5 6.95262 11.3807 5.83333 10 5.83333C8.61929 5.83333 7.5 6.95262 7.5 8.33333C7.5 9.71404 8.61929 10.8333 10 10.8333Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_0_33">
            <rect width="20" height="20" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
  <button class="rectangle-16"></button>
  <img class="whats-app-image-2024-03-02-at-08-48-1" src="agri.jpg" alt="whatsapp image"/>
  <img class="image-1" src="image 1.jpg" alt="image 1"/>
  <button class="rectangle-52"></button>
  <button class="soil-based-feed"><a href="soil type.html">soil based feed</a></button>
  <img class="image-2" src="image 2.jpg" alt="image 2"/>
  <button class="rectangle-53"></button>
  <button class="plant-pathology-consulting"><a href="crop.html">plant pathology consulting</a></button>
  <img class="image-4" src="image 4.jpg" alt="image 4"/>
  <button class="rectangle-54"></button>
  <button class="Weather-specific-seeds"><a href="weather.html">Weather-specific seeds</a></button>
  <img class="image-5" src="image 5.jpg" alt="image 5"/>
  <button class="rectangle-55"></button>
  <button class="farm-cost-assessment">Farm cost assessment</button>
  <div class="eco-friendly-farming-recommendations">Eco Friendly Farming Recommendations</div>
</div>
</body>
</html>

  